html,
#app {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}



.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
}

.navbar {
  padding-top: 5rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.space-around {
  justify-content: space-around;
}

.header-lg {
  font-size: 2rem;
  font-weight: 300;
  margin: 1.25rem;
}


.avatar {
  border-radius: 3px;
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.link {
  color: #d50000;
  text-decoration: none;
  font-weight: bold;
}

.card-list {
  margin: 1.25rem 0;
  font-size: 1.25rem;
}

.card-list li {
  display: flex;
  align-items: center;
  margin: .625rem;
}

.card-list svg {
  margin-right: .625rem;
}

.card-list a {
  font-weight: 600;
  color: inherit;
}

.bg-light {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 3px;
}

.repo {
  margin: .625rem 0;
  padding: 0 1rem;
  width: 250px;
}

.repo a {
  text-decoration: none;
}

.repo img {
  margin-bottom: .5rem;
}

/* Battle Styles */

.instructions-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  max-width: 1200px;
}

.container-sm {
  display: flex;
  justify-content: space-around;
}

.header-sm {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem;
}


.battle-instructions {
  padding: 0;
}

.battle-instructions li h3 {
  font-size: 1.5rem;
}

.battle-instructions svg {
  padding: 2rem;
  border-radius: 3px;
}